# git

# "gig" git ignore
gig[-.]*
.gig[-.]*

# IDE
.project
.library_mapping.xml
*.iml
.settings
.idea
.vscode

# vhdl, ghdl
work-obj93.cf

# source
trash.*
trash
wip[-.]*

# executables
generate_tables

# tools
.rake_tasks*

# other generated/copied
gsource
sources
gbench
bench

# pandoc generated
*.pdf
# zip generated
*.zip

# Current WIP
[MR]akefile
wip